html, body {
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-pd {
    padding: 0 !important;
}

.palestrantes {
    border-bottom: 1px solid #EEE9E9;
}

.body-palestrantes {
    margin: auto;
    padding-bottom: 50px;
}

.programacao {
    border-bottom: 1px solid #EEE9E9;
}

.cronograma {
    margin: auto;
    width: 80%;
    height: 800px;
}

.conteudo {
    overflow-y: auto;
    height: 400px;
}

.card-palestrantes {
    cursor: pointer;
    border: 1px solid #EEE9E9;
    border-radius: 15px;
    box-shadow: 2px 2px 42px 2px #EEE9E9;
    margin-left: 50px;
    margin-top: 20px;
}

.card-palestrantes img {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100%;
}

.card-palestrantes strong {
    font-size: 22px;
}

.header-palestrantes {
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 20px 0 0 0;
    margin: 0;
    border-bottom: 1px solid #EEE9E9;
}

.card-cronograma {
    cursor: pointer;
    margin-top: 10px;
    border-left-width: 15px;
    transition: border-width .5s ease;
    display: block;
    margin-bottom: 3px;
    background-color: #fff;
    border-left: 5px solid #00a8f2;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.card-cronograma:hover {
    border-color: aquamarine;
}

.header-programacao {
    width: 100%;
    height: 80px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.nav li {
    text-align: center;
}

.header-palestrantes h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 0;
    margin: 0;

}

.topo {
    background-color: #fff;
}

.topo h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
}

.menu {
    margin: 0;
    list-style: none;
    color: black;
    border: 1px solid #EEE9E9;
}

.menu li {
    cursor: pointer;
    text-align: center;
    padding: 15px;
    border-left: 1px solid #EEE9E9;
}

.menu li:last-child {
    border-right: 1px solid #EEE9E9;
}

.menu li a {
    font-size: 14px;
    font-family: 'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    text-decoration: none;
    color: black;
}

.menu li:hover {
    transition: 2s;
    border-top: 1px solid #399736;
}

.home {
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
}

.footer {
    height: 80px;
    background-color: #363636;
}

.container-efeito {
    text-align: center;
}

.container-efeito span {
    text-transform: uppercase;
}

.mytext1 {
    animation-delay: 3s;
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #363636;
    position: relative;
    animation: text 3s 1;
}

.mytext2 {
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
}

.nome-palestrante{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.efeito-texto-1, .efeito-texto-2 {
    display: none;
}

.local .mapa {
    height: 400px;
}

.local .local-descricao {
    height: 120px;
    font-size: 20px;
    color: white;
    background-color: #363636;
}

.efeito-texto-1, .efeito-texto-2 {
    display: none;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;

    }
    30% {
        letter-spacing: 10px;
        margin-bottom: -40px;

    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@media screen and (max-width: 414px) {

    .topo h1 {
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 2px;
    }

    .topo .logo-si {
        height: 20px;
    }

    .mytext1 {
        animation-delay: 3s;
        color: white;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0px;
        margin-bottom: 5px;
        background: #363636;
        animation: text 3s 1;
        display: block;
    }

    .mytext2 {
        font-size: 10px;
        color: whitesmoke;
        font-weight: bold;
    }

    .home {
        margin-top: 88px;
        height: 400px;
    }

    .container-efeito {
        text-align: center;
        top: 30%;
        left: 57%;
        transform: translate(-50%, -50%);
    }

    .card-palestrantes img{
        max-height: 50px;
    }

    .nome-palestrante{
        margin-top: 0px;
    }

    .card-palestrantes{
        margin-left: 0px;
    }
}

